body {
    margin: 0;
}

.to--container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(82, 30, 112);
    background: linear-gradient(90deg, rgb(85, 55, 55) 50%, rgb(29, 25, 25) 100%);
}

.to--title {
    font-size: 50px;
    text-align: left;
}

.to--do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
    border-radius: 7px;
    width: 50%;
    box-shadow: none;
}

.to--searching {
    display: flex;
    padding: 10px 0px;
    padding-bottom: 40px;
}

.searching--input {
    padding: 10px 15px;
    border: solid 1px;
    border-color: rgb(207, 207, 207);
    width: 100%;
    margin-right: 5px;
}

.searching--button {
    font-size: x-large;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #ff5945;
}

.to--list {
    
}

.list--ul {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    padding-left: 0;
    padding: 0px 0px;
}

.div--li {
    display: flex;
    margin-bottom: 10px;
}

.remove--btn {
    
    width: 60px;
    font-weight: bold;
    color: rgb(153, 81, 221);
    background-color: rgb(235, 235, 235);
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.list--ul li {  
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    width: 100%;
    margin: 5px 0;
    position: relative;
}

.list--ul li::before {
    margin: 0px 7px;
    content: "";
    background: url(images/unchecked.png);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}



.list--ul li.checked {
    color: gray;
    text-decoration: line-through;
}

.list--ul li.checked::before {
    background-image: url(images/checked.png);
}


.radio--button {
    margin-right: 5px;
}

.to--clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clear--task {
    margin: 0;
}

.clear--button {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #ff5945;
    color: white;
}

.fa-solid .fa-trash {
    height: 500px;
}

.check-box {
    margin: 0px 5px;
}

span {
    position: absolute;
    right: 0;
    background-color: rgb(214, 214, 214);
    font-weight: bold;
    color: rgb(168, 168, 168);
    padding: 10px 20px;  
    cursor: pointer;
}

span:hover {
    background-color: #ff5945;
    color: white;
    transition: 0.3s ease-out;
}

.span-check {
    
}